@charset "UTF-8";

@media screen and (max-width: 600px){

    *{
        transition: 1ms;
    }
    body{
        max-width: 100vw;
    }

    .top-logo, .buscar, .link-logo {
        display: none;
        visibility: hidden;
    }
    
    .menu{
        width: 100vw;
        justify-content: space-around;
    }

    .ghibli-background{
        width: 90vw;
 
    }

    /* ------Filmografia------- */


    .box-filmes{
        width: 100vw;
    }
    .filmografia-page{
        width: 100vw;
        margin: auto;
    }
    .card-filmes{
        width: 250px;
        height: 600px;
        margin-bottom: 100px;
    }
    .imagem-filmes{
        width: 300px;
    }
    .imagem-filmes > img{
        margin: auto;
        width: 300px;
    }


    .box-titulo{
        width: 65vw;
    }
    



    .dados-filmes{
        display: none;
    }
    .dados-filmes > a{
        display: none;

    }

    .time-line{
        display: none;
        visibility: hidden;
    }

    footer{
        position: static;
        bottom: 0;
        left: 0;
    }


}

@media screen and (max-width: 1020px){
    .time-line{
        display: none;
        visibility: hidden;
    }
    .dados-filmes{
        display: none;
    }
    .dados-filmes > a{
        display: none;

    }
}