@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --main-color: #0E88CC;
    --sec-color: #109CEB;
    --destaque-color: #012E40;

    --main-font: font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    height: 100vh;
}
/* ------Cabeçalho------- */
header{
    height: 90px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    margin: auto;
    max-width: 1600px;
    min-width: 300px
}
.top-logo{
    height: 110px;
    width: 251px;
    display: inline;
}
/* ------Menu------- */
.menu{
    width: 485px;
    height: 37px;
    display: flex;
    justify-content: space-evenly;
}
.menu > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.menu > a:hover{
    transition: 0.5s;
    font-size: 19px;
}
/* ------Página inicial------- */
.totoro-background{
    height: 90vh;
    background-image: url("/imagens/tororo.svg");
    background-size:calc(100vh - 10%);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}
.ghibli-background{
    height: 75vh;
    margin: auto;
    max-width: 1400px;
    background-image: url("/imagens/ghibli\ lettler.svg");
    background-repeat: no-repeat;
    background-size:calc(100vh - 5%);
    background-position: bottom right;
    background-attachment: scroll;
}
.arrow-down{
    margin-top: 30px;
    height: 50px;
    background-image: url("/imagens/Arrow.svg");
    background-repeat: no-repeat;
    background-position: bottom center;

}
#down{
    display: block;
    height: 50px;
    width: 90px;
    margin: auto;
}
/* ------Filmografia------- */
.box-filmes{
    max-width: 1600px;
    min-width: 300px;
    margin: auto;
}
.filmografia-page{
    background-color: #FFFFFF;
    display: flex;
}

footer{
    background-color: var(--main-color);
}